<div ng-controller='useclassesController as Ucl'>

<h4>Add Classes</h4>
<h1><span ng-bind='Ucl.error_txt'></span></h1>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate" ng-model='Ucl.newUseclass.name'>
          <label for="name">User-Class Name</label>
        </div>
        <div class="input-field col s2">
          <input id="uselevel" type="number" class="validate" ng-model='Ucl.newUseclass.level'>
          <label for="uselevel">User Privilege level</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="desc" type="text" class="validate" ng-model='Ucl.newUseclass.description'>
          <label for="desc">Description</label>
        </div>
      </div>
      <a class="waves-effect waves-light deep-orange accent-4 btn" ng-click='Ucl.addClass()'>Add Class</a>
    </form>
  </div>

<h3>User-Classes</h3>
<table>
        <thead>
          <tr>              
              <th data-field="name">User-Class</th>
              <th data-field="number">User-Level</th>
              <th data-field="id">ID</th>
              <th data-field="Description" class='hide-on-small-only'>Info</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="class in Ucl.useclasses | filter:filter_name | orderBy:'-level'">
          	<td><span ng-bind='class.name'></span></td>
          	<td><span ng-bind='class.level'></span></td>
           	<td><span ng-bind='class._id'></span></td>
          	<td class='hide-on-small-only'><span ng-bind='class.description'></span></td>
          </tr>
        </tbody>
      </table>
</div>