<div ng-controller='usersController as Users'>

<h4>Add Users</h4>
<h1><span ng-bind='Users.error_txt'></span></h1>
<div ng-controller='useclassesController as Ucl'>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" ng-model='Users.newUser.name'>
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <!-- <label for="uselevel">User Class</label> -->
          <select class="browser-default grey lighten-1" ng-model='Users.newUser.type' id="uselevel">
              <option value="">Choose User Class</option>
              <option ng-repeat="class in Ucl.useclasses" ng-value="class._id" ng-bind="class.level + ': ' + class.name"></option>
          </select> 
        </div>
      </div>

      <div class="row">
        <div class="input-field col s3">
          <label for="dateob">Date of Birth</label>
          <input input-date
              type="text"
              name="dob"
              id="dateob"
              ng-model="Users.newUser.dob"
              container="body"
              format="mm/dd/yyyy"
              months-full="{{ month }}"
              months-short="{{ monthShort }}"
              weekdays-full="{{ weekdaysFull }}"
              weekdays-short="{{ weekdaysShort }}"
              weekdays-letter="{{ weekdaysLetter }}"
              today="today"
              clear="clear"
              close="close"
              select-years="100"
              on-start="onStart()"
              on-render="onRender()"
              on-open="onOpen()"
              on-close="onClose()"
              on-set="onSet()"
              on-stop="onStop()" />
        </div>
      </div>
      
      <a class="waves-effect waves-light deep-orange accent-4 btn" ng-click='Users.addUser()'>Add User</a>
    </form>
  </div>
</div>

<h3>Users</h3>
<table>
        <thead>
          <tr>              
              <th data-field="name">Name</th>
              <th data-field="number">Title/Level</th>
              <th data-field="birthday">Birthday</th>
              <th data-field="changedate" class='hide-on-small-only'>Updated/Added</th>
              <th data-field="id" class='hide-on-med-and-down'>ID</th>      
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in Users.users | filter:filter_name">
            <td><span ng-bind='user.name'></span></td>
          	<td><span ng-bind="user.title + ': ' + user.level"></span></td>
          	<td><span ng-bind='user.dob'></span></td>
            <td class='hide-on-small-only'><span ng-bind="user.changeDate+'/'+user.addDate"></span></td>
            <td class='hide-on-med-and-down'><span ng-bind='user._id'></span></td>
          </tr>
        </tbody>
      </table>
</div>