*{
	/*outline:1px red dotted;*/
}

body{
	background-color: #788595;
}

textarea{
	resize:none;
}

/*.block{
	display: inline-block;
	padding: 20px;
	width: 175px;
	text-align: center;
}

#content{
	vertical-align: top;
    display: inline-block;
}

#addform{
	display: inline-block;
	height: 100%;
    width: 20%;
    margin-top: 30px;
    margin-right:50px;
}

#addform input{
	width: 200px;
}

#searchbar{
	font-size: 13pt;
	font-family: sans-serif;
}
*/